body {
  box-sizing: border-box;
  margin: 0;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: 30px;
}

.App-header {
  background: linear-gradient(180deg, rgba(6,6,16,1) 35%, rgba(17,18,61,1) 65%, rgba(19,21,73,1) 76%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #D2216E;
}

.header__menu {
  position: relative;
  z-index: 2;
  background: black;
}

.header__menu__content {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1px;
}

.header__menu__content li a {
  text-decoration: none;
  margin: 0 30px;
  margin-right: 20px;
  color: white;
  position: relative;
}


.header__menu__content li a::after {
  /*pseudo élément : ovale souligné*/
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 10px;
  border-radius: 50%;
  background: white;
  transition: all .5s ease;
}

.header__menu__content li a:hover::after {
  width: 100%;
  transition: all .5s ease;
  
}
h1{
  margin: 15px;
}

header p{
  text-align: center ;
  margin: 5px;
}