.podcast_list {
    display: flex;
    justify-content: space-between;
    width: 900px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.boxcast {
    width: 200px;
}

.cast {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.smalltext {
    margin-top: -20px;
}

h2 {
    margin-bottom: -10px;
}

.firstSection {
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.secondSection {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.auteur_list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 900px;
}

.auteur {
    width: 30%;
    height: 300px;
    border-radius: 5px;
    

}

.boxauteur {
    display: flex;
    margin-top: 60px;
}

.vignette {
    width: 70%;
    margin-left: 30px;
}